<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="mainTitle">Welcome to zoom's clone</h1>
    <div class="formWrapper">
      <form class="userForm" action="/register_participant" method="post">
        <label for="name">Enter your username: </label>
        <input
          class="formInput"
          type="text"
          name="name"
          placeholder="Please enter your username"
          required
        />
        <input class="formSubmitButton" type="submit" value="Create" />
      </form>
    </div>
  </body>
</html>
