<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
    const ROOM_ID = '<%= roomId %>';
  </script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="/js/script.js" defer></script>
  <link rel="stylesheet" href="/css/style.css" />
  <body>
    <h3><%= roomId %></h3>
    <div class="videoGrid">
      <video class="participantVideo" autoplay playsinline></video>
    </div>
  </body>
</html>
